<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      body {
        font-family: Arial, sans-serif;
        font-size: 11pt;
        color: #000;
        padding: 20mm 25mm;
        max-width: 210mm;
      }
      h1 {
        text-align: center;
        font-size: 16pt;
        margin-bottom: 15mm;
        font-weight: bold;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10mm;
      }
      td {
        border: 1px solid #000;
        padding: 8px;
        vertical-align: top;
      }
      td:first-child {
        width: 35%;
        font-weight: bold;
      }
      .checkbox-list {
        line-height: 1.8;
      }
      .checkbox-item {
        display: block;
        margin: 3px 0;
      }
      input[type="checkbox"] {
        margin-right: 5px;
        width: 14px;
        height: 14px;
        vertical-align: middle;
      }
      .footer-text {
        line-height: 1.8;
        margin-bottom: 20mm;
        margin-top: 15mm;
        text-align: justify;
      }
      .signature-section {
        display: flex;
        justify-content: space-between;
        margin-top: 25mm;
      }
      .signature-box {
        text-align: center;
        width: 45%;
      }
      .signature-box-line {
        border-top: 1px solid #000;
        padding-top: 3px;
        margin-top: 0;
      }
      .page-break {
        page-break-before: always;
      }
    </style>
  </head>
  <body>
    <h1>Erstkontaktformular</h1>

    <table>
      <tr>
        <td>Datum:</td>
        <td>
          {{contactDate}}
          <div style="margin-top: 5px;"><strong>Uhrzeit:</strong> {{contactTime}}</div>
          <div style="margin-top: 5px;"><strong>Vermittler:</strong> {{advisorName}}</div>
        </td>
      </tr>

      <tr>
        <td>Gesprächsinitiator:</td>
        <td>
          <strong>Name:</strong> {{client.firstName}} {{client.lastName}}
          <div style="margin-top: 8px;"><strong>Anschrift:</strong></div>
          <div>
            {{#if client.street}}{{client.street}} {{client.houseNumber}}<br>{{/if}}
            {{#if client.zip}}{{client.zip}} {{client.city}}{{/if}}
          </div>
        </td>
      </tr>

      <tr>
        <td>Grund der Kontaktaufnahme durch den Initiator:</td>
        <td>
          <div class="checkbox-list">
            <label class="checkbox-item">
              <input type="checkbox" {{#if contactReasonRecommendation}}checked{{/if}}> Empfehlung
            </label>
            <label class="checkbox-item">
              <input type="checkbox" {{#if contactReasonAdvertising}}checked{{/if}}> Werbung
            </label>
            <label class="checkbox-item">
              <input type="checkbox" {{#if contactReasonDamageReport}}checked{{/if}}> Schadenmeldung
            </label>
            <label class="checkbox-item">
              <input type="checkbox" {{#if contactReasonEvb}}checked{{/if}}> eVB
            </label>
            <label class="checkbox-item">
              <input type="checkbox" {{#if contactReasonAdjustment}}checked{{/if}}> Beitragsanpassung / Kündigung durch Versicherung
            </label>
            <label class="checkbox-item">
              <input type="checkbox" {{#if contactReasonInformation}}checked{{/if}}> Informationswunsch
            </label>
            <label class="checkbox-item">
              <input type="checkbox" {{#if contactReasonOtherChecked}}checked{{/if}}> sonstiges:
              {{#if contactReasonOther}}
                <span style="margin-left: 5px;">{{contactReasonOther}}</span>
              {{/if}}
            </label>
          </div>
        </td>
      </tr>

      <tr>
        <td>Erstinformation:</td>
        <td style="height: 40px;"></td>
      </tr>

      <tr>
        <td>Wunsch des Initiators:</td>
        <td>
          <div class="checkbox-list">
            <label class="checkbox-item">
              <input type="checkbox" {{#if initiatorWishConsultation}}checked{{/if}}> Übernahme der Betreuung
            </label>
            <label class="checkbox-item">
              <input type="checkbox" {{#if initiatorWishOffer}}checked{{/if}}> Angebot
            </label>
            <label class="checkbox-item">
              <input type="checkbox" {{#if initiatorWishAppointment}}checked{{/if}}> Termin
            </label>
            <label class="checkbox-item">
              <input type="checkbox" {{#if initiatorWishEvb}}checked{{/if}}> eVB ausgestellt am: _____________ Mobil-Nr.: _________________
            </label>
            <label class="checkbox-item">
              <input type="checkbox" {{#if initiatorWishOtherChecked}}checked{{/if}}> sonstiges:
              {{#if initiatorWishOther}}
                <span style="margin-left: 5px;">{{initiatorWishOther}}</span>
              {{/if}}
            </label>
          </div>
        </td>
      </tr>

      <tr>
        <td>Weitere gewünschte Kontaktaufnahme:</td>
        <td>
          <div class="checkbox-list">
            <label class="checkbox-item">
              <input type="checkbox" {{#if furtherContactLandline}}checked{{/if}}> Festnetz Nr.: _________________
            </label>
            <div style="margin-top: 5px;"></div>
            <label class="checkbox-item">
              <input type="checkbox" {{#if furtherContactMobile}}checked{{/if}}> Mobil-Nr.: _________________
            </label>
            <div style="margin-top: 5px;"></div>
            <label class="checkbox-item">
              <input type="checkbox" {{#if furtherContactEmail}}checked{{/if}}> E-Mail: ____________________
            </label>
          </div>
        </td>
      </tr>

      <tr>
        <td>Vertragsunterlagen:</td>
        <td>
          <div class="checkbox-list">
            <label class="checkbox-item">
              <input type="checkbox" {{#if contractDocumentsProvided}}checked{{/if}}> Initiator hat Vertragsunterlagen und Kontaktdaten übergeben
            </label>
            <div style="margin-top: 5px;"></div>
            <label class="checkbox-item">
              <input type="checkbox" {{#if contractDocumentsSending}}checked{{/if}}> Initiator sendet Vertragsunterlagen und Kontaktdaten
            </label>
            <div style="margin-top: 5px;"></div>
            <label class="checkbox-item">
              <input type="checkbox" {{#if contractDocumentsPickup}}checked{{/if}}> Vertragsunterlagen und Kontaktdaten beim Initiator abholen
            </label>
          </div>
        </td>
      </tr>
    </table>

    <!-- Seite 2 -->
    <div class="page-break"></div>

    {{#if customBody}}
      <div style="margin-bottom: 15mm; line-height: 1.6;">
        {{customBody}}
      </div>
    {{/if}}

    <div class="footer-text">
      Hiermit wird bestätigt, dass die Kontaktaufnahme auf Initiative von {{client.firstName}} {{client.lastName}} entstanden ist. Folglich wurde {{client.firstName}} {{client.lastName}} über die Beendigung des Vertragsverhältnisses von {{advisorName}} mit der tecis Finanzdienstleistungen AG informiert. Aus diesem Anlass wird der weitere Kontakt ausdrücklich durch {{advisorName}} gewünscht.
    </div>

    <div class="signature-section">
      <div class="signature-box">
        <div class="signature-box-line">Unterschrift Vermittler</div>
      </div>
      <div class="signature-box">
        <div class="signature-box-line">Unterschrift Kunde / Initiator</div>
      </div>
    </div>
  </body>
</html>